:root {
	--font-primary: #66bfbf;
	--font-secondary: #1f4b46;
	--bg: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	background-color: var(--bg);
	color: #40514e;
	text-align: center;
	font-family: "Merriweather", serif;
}

/* Tag Selector */
h1 {
	margin: 1.6rem auto 0 auto;
	font-family: cursive;
	font-size: 3.4rem;
	color: var(--font-primary);
}

h2 {
	color: var(--font-primary);
	font-family: "Montserrat", sans-serif;
	font-size: 1.7rem;
	font-weight: bold;
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: #11999e;
}

hr {
	border: dotted #eaf6f6 0.5rem;
	border-bottom: none;
	width: 3rem;
	margin: 4.8rem auto;
}

/* Navigation Bar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.8rem 5%;
	background-color: #e4f6f6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar .navbar-logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--font-primary);
}

.navbar .navbar-logo:hover {
	color: var(--font-secondary);
}

.navbar .navbar-nav a {
	font-size: 1.2rem;
}

.navbar .navbar-nav a {
	color: var(--font-primary);
	display: inline-block;
	margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
	color: var(--font-secondary);
}

.navbar .navbar-nav a::after {
	content: "";
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--font-secondary);
	transform: scaleX(0);
	transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.6);
}

.hamburger {
	display: none;
}

#hamburger-menu {
	color: var(--font-primary);
}

/* Hero Section (Top Container) */
.top-container {
	margin-top: 5.34rem;
	background-color: #e4f6f6;
	position: relative;
	padding-top: 6.3rem;
	height: 100vh;
}

.profession {
	color: var(--font-primary);
	font-family: "Montserrat", sans-serif;
	font-size: 1.3rem;
	font-weight: normal;
	padding-top: 0.5rem;
}

.top-cloud {
	position: absolute;
	right: 18.1rem;
	top: 3.1rem;
}

.img-mountain {
	height: 22rem;
	position: absolute;
	bottom: -11rem;
	transform: translate(-50%, -50%);
}

.bottom-cloud {
	position: absolute;
	left: 18rem;
	bottom: 18.8rem;
}

/* Main Menu (Middle Container) */
.middle-container {
	background-color: white;
	padding-top: 7rem;
}

.profile {
	width: 39%;
	margin: 0 auto;
	line-height: 2;
}

.profile img {
	width: 260px;
	height: 260px;
	border-radius: 130px;
	overflow: hidden;
}

.profile h2 {
	padding: 1rem 0;
}

.skills {
	width: 55%;
	margin: 0 auto;
}

.skill-row-left {
	margin-top: 5rem;
	text-align: justify;
	line-height: 2;
	display: flex;
	align-items: center;
}

.skill-row-right {
	margin-top: 5rem;
	text-align: justify;
	line-height: 2;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.img-skill-left {
	height: 12rem;
	margin-right: 3rem;
}

.img-skill-right {
	height: 12rem;
	margin-left: 3rem;
}

/* Footer (Bottom Container) */
.contact-me {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 3.1rem;
}

.contact-me h3 {
	margin-top: 1rem;
}

.contact-message {
	padding: 1.5rem 4rem 2.3rem 4rem;
	margin: 0 auto;
	line-height: 2;
}

.footer-link {
	color: #11999e;
	font-family: "Montserrat", sans-serif;
	margin: 1rem 1.2rem;
}

.copyright {
	margin-top: 2rem;
	color: #eaf6f6;
	font-size: 0.8rem;
	padding: 0.5rem 0;
}

.bottom-container {
	background-color: var(--font-primary);
	padding: 3.2rem 0 1.3rem;
}

.bottom-container a:hover {
	color: #eaf6f6;
}

/* CSS Button Generator */
.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

/* MEDIA QUERIES */
/* 1. Monitor */
@media (min-width: 1281px) and (max-width: 1536px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
	}

	.navbar .navbar-logo {
		font-size: 1.9rem;
	}

	.navbar .navbar-nav {
		padding: 1rem 5rem;
	}

	.top-container {
		height: calc(100vh - 5.3rem);
	}

	.top-cloud {
		right: 20%;
		top: 8%;
		width: 13rem;
	}

	.bottom-cloud {
		left: 20%;
		bottom: 60%;
		width: 13rem;
	}

	.img-mountain {
		height: 32rem;
		position: absolute;
		bottom: -16rem;
		transform: translate(-50%, -50%);
	}

	.profile {
		width: 32%;
	}

	.skills {
		width: 45%;
	}

	.contact-me {
		width: 48%;
	}

	.bottom-container p {
		font-size: 1rem;
	}
}

/* 2. Tablet */
@media (min-width: 641px) and (max-width: 884px) {
	.hamburger {
		display: inline-block;
	}

	.navbar .navbar-nav {
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: #f1f5f9;
		width: 23rem;
		height: 100vh;
		transition: 0.5s;
	}

	.navbar .navbar-nav.active {
		right: 0;
	}

	.navbar .navbar-nav a {
		display: block;
		text-align: left;
		margin: 2rem;
		font-size: 1.6rem;
	}

	.navbar .navbar-nav a::after {
		transform-origin: 0 0;
	}

	.navbar .navbar-nav a:hover::after {
		transform: scaleX(0.2);
	}

	.navbar .navbar-logo {
		font-size: 1.8rem;
	}

	.top-container {
		height: calc(100vh - 5.2rem);
	}

	.top-cloud {
		right: 10%;
		top: 48%;
		width: 15rem;
	}

	.bottom-cloud {
		left: 10%;
		bottom: 55%;
		width: 15rem;
	}

	.img-mountain {
		height: 28rem;
		position: absolute;
		bottom: -14rem;
		transform: translate(-50%, -50%);
	}

	.profile {
		width: 50%;
	}
}

/* 3. Mobile Phone */
@media (min-width: 320px) and (max-width: 640px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	.navbar .navbar-logo {
		font-size: 1.3rem;
	}

	.top-container {
		height: calc(100vh - 5.3rem);
	}

	.top-cloud {
		right: 10%;
		top: 60%;
		width: 7rem;
	}

	.bottom-cloud {
		left: 10%;
		bottom: 40%;
		width: 7rem;
	}

	.img-mountain {
		height: 12rem;
		position: absolute;
		bottom: -6rem;
		transform: translate(-50%, -50%);
	}

	.navbar .navbar-nav a {
		font-size: 1.2rem;
	}

	.navbar .navbar-nav {
		width: 16rem;
	}

	.middle-container {
		padding-top: 6rem;
	}

	.profile {
		width: 62%;
		margin: 0 auto;
		line-height: 2;
	}

	.profile img {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		overflow: hidden;
	}

	.profile h2 {
		padding: 1rem 0;
	}

	.skills {
		width: 62%;
		margin: 0 auto;
	}

	.skill-row-right {
		margin-top: 5rem;
		text-align: justify;
		line-height: 2;
		display: block;
	}

	.skill-row-left {
		margin-top: 5rem;
		text-align: justify;
		line-height: 2;
		display: block;
	}

	.img-skill-left {
		height: 12rem;
	}

	.img-skill-right {
		height: 12rem;
	}

	.contact-message {
		padding: 1.8rem 0 2.5rem 0;
		margin: 0 auto;
		line-height: 2;
	}
}
