:root {
	--font-primary: #66bfbf;
	--font-secondary: #1f4b46;
	--bg: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	background-color: var(--bg);
	color: #40514e;
	text-align: center;
	font-family: "Merriweather", serif;
}

/* Tag Selector */
h1 {
	margin: 1.6rem auto 0 auto;
	font-family: cursive;
	font-size: 2.5rem;
	color: var(--font-primary);
}

h2 {
	color: var(--font-primary);
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: #11999e;
}

hr {
	border: dotted #eaf6f6 0.5rem;
	border-bottom: none;
	width: 3rem;
	margin: 4.8rem auto;
}

/* Size Feather Icon */
.icon-sml {
	width: 15px;
	height: 15px;
}

.icon-med {
	width: 25px;
	height: 25px;
}

.icon-lrg {
	width: 35px;
	height: 35px;
}

/* Navigation Bar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.8rem 5%;
	background-color: #e4f6f6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar .navbar-logo {
	font-size: 1.9rem;
	font-weight: bold;
	color: var(--font-primary);
}

.navbar .navbar-logo:hover {
	color: var(--font-secondary);
}

.navbar .navbar-nav-large {
	display: none;
}

.navbar .navbar-nav {
	position: absolute;
	top: 100%;
	right: -100%;
	background-color: #f1f5f9;
	width: 23rem;
	min-height: 100vh;
	transition: 0.5s;
}

.navbar .navbar-nav.active {
	right: 0;
}

.navbar .navbar-nav a {
	color: var(--font-primary);
	display: block;
	text-align: left;
	margin: 2rem;
	font-size: 1.5rem;
}

.navbar .navbar-nav a:hover {
	color: var(--font-secondary);
}

.navbar .navbar-nav a::after {
	content: "";
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--font-secondary);
	transform: scaleX(0);
	transition: 0.2s linear;
	transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.6);
}

#hamburger-menu {
	color: var(--font-primary);
}

.hamburger {
	display: inline-block;
}

/* Hero Section (Top Container) */
.top-container {
	margin-top: 5.34rem;
	background-color: #e4f6f6;
	position: relative;
	padding-top: 6.3rem;
	min-height: calc(100vh - 4.25rem);
}

.profession {
	color: var(--font-primary);
	font-family: "Montserrat", sans-serif;
	font-size: 0.8rem;
	font-weight: normal;
	padding-top: 0.5rem;
}

.top-cloud {
	position: absolute;
	right: 13%;
	top: 40%;
}

.bottom-cloud {
	position: absolute;
	left: 13%;
	bottom: 48%;
}

.img-mountain {
	height: 28rem;
	position: absolute;
	bottom: 0;
	transform: translate(-50%);
}

/* Main Menu (Middle Container) */
.middle-container {
	background-color: white;
	padding-top: 7rem;
}

.profile {
	width: 60%;
	margin: 0 auto;
	line-height: 2;
}

.profile img {
	width: 260px;
	height: 260px;
	border-radius: 130px;
	overflow: hidden;
}

.profile h2 {
	padding: 1rem 0;
}

.skills {
	width: 60%;
	margin: 0 auto;
}

.skill-row-left {
	margin-top: 5rem;
	text-align: justify;
	line-height: 2;
	display: block;
}

.skill-row-right {
	margin-top: 5rem;
	text-align: justify;
	line-height: 2;
	display: block;
}

.img-skill-left {
	height: 12rem;
}

.img-skill-right {
	height: 12rem;
}

/* Footer (Bottom Container) */
.contact-me {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 3.8rem;
}

.contact-me h3 {
	margin-top: 1rem;
}

.contact-message {
	padding: 1.5rem 4rem 3rem 4rem;
	margin: 0 auto;
	line-height: 2;
}

.footer-link {
	color: #11999e;
	font-family: "Montserrat", sans-serif;
	margin: 1rem 1.2rem;
}

.copyright {
	margin-top: 2rem;
	color: #eaf6f6;
	font-size: 0.5rem;
	padding: 0.5rem 0;
}

.bottom-container {
	background-color: var(--font-primary);
	padding: 3.2rem 0 1.3rem;
}

.bottom-container a:hover {
	color: #eaf6f6;
}

/* CSS Button Generator */
.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

/* MEDIA QUERIES */
/* 1. Monitor */
@media (min-width: 1280px) and (max-width: 2560px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
	}

	.hamburger {
		display: none;
	}

	.navbar .navbar-nav {
		display: none;
	}

	.navbar .navbar-nav-large {
		display: flex;
		padding: 0.5rem 5rem;
	}

	.navbar .navbar-nav-large a {
		color: var(--font-primary);
		display: inline-block;
		font-size: 1.2rem;
		margin: 0 1rem;
	}

	.navbar .navbar-nav-large a:hover {
		color: var(--font-secondary);
	}

	.navbar .navbar-nav-large a::after {
		content: "";
		display: block;
		padding-bottom: 0.5rem;
		border-bottom: 0.1rem solid var(--font-secondary);
		transform: scaleX(0);
		transition: 0.2s linear;
		transform-origin: 50% 50% 0;
	}

	.navbar .navbar-nav-large a:hover::after {
		transform: scaleX(0.6);
	}

	.profession {
		font-size: 1.7rem;
	}

	.top-cloud {
		right: 20%;
		top: 8%;
		width: 11rem;
	}

	.bottom-cloud {
		left: 20%;
		bottom: 60%;
		width: 11rem;
	}

	.img-mountain {
		height: 20rem;
		position: absolute;
		bottom: 0;
		transform: translate(-50%);
	}

	.profile {
		width: 32%;
	}

	.skills {
		width: 45%;
		margin: 0 auto;
	}

	.skill-row-left {
		display: flex;
		align-items: center;
	}

	.skill-row-right {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	.img-skill-left {
		height: 12rem;
		margin-right: 3rem;
	}

	.img-skill-right {
		height: 12rem;
		margin-left: 3rem;
	}

	.contact-me {
		width: 48%;
	}

	.bottom-container p {
		font-size: 1rem;
	}
}
